@import "tailwindcss";

.product-card {
    position: relative;
    overflow: hidden;
}

.product-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

.product-card:hover .product-overlay {
    opacity: 1;
    pointer-events: auto;
}

.add-to-cart-btn {
    background-color: white;
    color: black;
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translateY(20px);
}

.product-card:hover .add-to-cart-btn {
    transform: translateY(0);
}

.add-to-cart-btn:hover {
    background-color: black;
    color: white;
}